.smex-items
auto-save-list
backups
bookmarks
elpa
ido.last
projectile*
README.el
transient/history.el
forge-database.sqlite
tramp
url
custom.el
eshell*
# excorporate files
excorporate
diary
network-security.data
undo*
